PORT=
DB_USER=
DB_HOST=
DB_PASSWORD=
DB_NAME=
DB_PORT=
JWT_SECRET=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
NODE_ENV=
FRONTEND_URL=
RESEND_API_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
FRONTEND_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=